<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Twotter | Signup</title>
    <style>
      html, body { min-width: 100vw; min-height: 100vh; overflow-x: hidden;
      margin: 0; padding: 0; border: 0; }
    </style>
  </head>
  <body class="flex items-center justify-center bg-blue-400">
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
    
    <!-- TODO: Validate user name (not existing user with the same name) as we type, same navigation bar than everywhere? -->
    <form class="flex flex-col bg-white px-20 pb-10 pt-10 rounded-xl text-gray-700" method="POST">
      <h3 class="mb-10 text-center font-bold text-xl">Sign up to Twotter</h3>
      <label for="name-input" class="mb-2 text-uppercase text-xs font-bold tracking-[.2em]">Name</label>
      <input id="name-input" class="mb-8 border-b-2 focus:border-b-blue-400 focus:outline-none" type="text" name="name" placeholder="Enter a name" />
      <label for="password-input" class="mb-2 text-uppercase text-xs font-bold tracking-[.2em]">Password</label>
      <input id="password-input" class="mb-10 border-b-2 focus:border-b-blue-400 focus:outline-none" type="password" name="password" placeholder="Enter a password" />
      <button type="submit" class="bg-blue-400 rounded-full py-2 text-white hover:bg-blue-300 focus:bg-blue-300">Sign up!</button>
    </form>
  </body>
</html>