<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Twotter | User not found</title>
    <style>
      html, body { min-width: 100vw; min-height: 100vh; overflow-x: hidden;
      margin: 0; padding: 0; border: 0; }
    </style>
  </head>
  <body class="p-8">
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
    
    <nav class="bg-blue-400 flex justify-between pl-8 pr-8 py-3 items-center">
      <a href="/" class="font-bold text-xl text-white">Twotter</a>

      <div class="flex gap-4 items-center">
        <a href="/login" class="rounded-full text-white px-6 py-2 cursor-pointer hover:bg-blue-300">Login</a>
        <a href="/signup" class="rounded-full bg-white text-gray-700 px-6 py-2 cursor-pointer hover:text-blue-400">Signup</a>
      </div>
    </nav>
    
    <h3 class="text-center">{{ user }} not found!</h3>
    <p>Maybe try to <a href="/" class="text-blue-400">go home</a>.</p>
  </body>
</html>