<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Twotter | {{ user }}</title>
    <style>
      html, body { min-width: 100vw; min-height: 100vh; overflow-x: hidden;
      margin: 0; padding: 0; border: 0; }
    </style>
  </head>
  <body>
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
    
    <nav class="bg-blue-400 flex justify-between pl-8 pr-8 py-3 items-center">
      <a href="/" class="font-bold text-xl text-white">Twotter</a>

      <div class="flex gap-4 items-center">
        <a href="/login" class="rounded-full text-white px-6 py-2 cursor-pointer hover:bg-blue-300">Login</a>
        <a href="/signup" class="rounded-full bg-white text-gray-700 px-6 py-2 cursor-pointer hover:text-blue-400">Signup</a>
        
        {{#if isLoggedIn}}
        <a href="/logout" class="rounded-full bg-white text-gray-700 px-6 py-2 cursor-pointer hover:text-blue-400">Logout</a>
        {{/if}}
      </div>
    </nav>
    
    <main class="p-8 flex flex-col gap-8">
      <h3 class="text-white font-bold text-lg">{{ user }}'s posts</h3>
      <ul class="flex flex-col gap-4">
        {{#each posts}}
        <li class="bg-gray-100 px-8 py-4 rounded-xl">
          <h5 class="italic">{{ this.user }} said:</h5>
          <p>{{ this.content }}</p>
        </li>
        {{/each}}
      </ul>

      {{#if isLoggedIn}}
      <form class="flex flex-col gap-4 w-64" method="POST">
        <textarea class="border-2 rounded-xl p-4 resize-none h-64" name="content" placeholder="What are you thinking about?"></textarea>
        <button class="bg-blue-400 text-white py-2 rounded-xl" type="submit">Twoot!</button>
      </form>
      {{/if}}
    </main>
  </body>
</html>